
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/06196a53-ff99-47de-9d35-988583c5a639.xml
.idea/dataSources/06196a53-ff99-47de-9d35-988583c5a639/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/06196a53-ff99-47de-9d35-988583c5a639/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/06196a53-ff99-47de-9d35-988583c5a639/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/new-ishop.loc.iml
tmp/cache/6ef8f8468157405a8bd94397ab1a23a4.txt
tmp/cache/13155f5134df6153ed6b575001dfeb6c.txt
tmp/cache/f95c605ee46f2eb0adab36530ffa46d6.txt
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
tmp/cache/2953c6ae6820d007c488f1c991e91b06.txt
tmp/cache/f95c605ee46f2eb0adab36530ffa46d6.txt
tmp/logs/errors.log
tmp/cache/f95c605ee46f2eb0adab36530ffa46d6.txt
tmp/cache/2953c6ae6820d007c488f1c991e91b06.txt
tmp/logs/errors.log
